.navbar-dark.bg-dark {
    background-color: #142C3E !important;
  }

  nav {
    font-family: 'Roboto', sans-serif;
  }


  nav {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Change color of text */
  nav a {
    color: #fff;
  }
  
  /* Change background color on hover */
  nav a:hover {
    background-color: #345B46;
  }

   
  /* Add a box-shadow */
  nav {
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.2);
  }
  

  body {
    background-color: #142C3E;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
    .wrapper {
        position: relative;
        min-height: 100vh; /* This ensures that the wrapper takes up the full height of the viewport */
    }
    
    .footer {
        position: absolute;

        width: 100%; /* This makes the footer span the full width of the screen */
        /* Add any additional styling for the footer here */
    }

    .footer {
        background-color: #142C3E !important;
      }

      :root {
        --dl-color-gray-500: #595959;
        --dl-color-gray-700: #999999;
        --dl-color-gray-900: #D9D9D9;
        --dl-size-size-large: 144px;
        --dl-size-size-small: 48px;
        --dl-color-danger-300: #A22020;
        --dl-color-danger-500: #BF2626;
        --dl-color-danger-700: #E14747;
        --dl-color-gray-black: #000000;
        --dl-color-gray-white: #FFFFFF;
        --dl-size-size-medium: 96px;
        --dl-size-size-xlarge: 192px;
        --dl-size-size-xsmall: 16px;
        --dl-space-space-unit: 16px;
        --dl-color-primary-100: #003EB3;
        --dl-color-primary-300: #0074F0;
        --dl-color-primary-500: #14A9FF;
        --dl-color-primary-700: #85DCFF;
        --dl-color-success-300: #199033;
        --dl-color-success-500: #32A94C;
        --dl-color-success-700: #4CC366;
        --dl-size-size-xxlarge: 288px;
        --dl-size-size-maxwidth: 1400px;
        --dl-radius-radius-round: 50%;
        --dl-space-space-halfunit: 8px;
        --dl-space-space-sixunits: 96px;
        --dl-space-space-twounits: 32px;
        --dl-radius-radius-radius2: 2px;
        --dl-radius-radius-radius4: 4px;
        --dl-radius-radius-radius8: 8px;
        --dl-space-space-fiveunits: 80px;
        --dl-space-space-fourunits: 64px;
        --dl-space-space-threeunits: 48px;
        --dl-space-space-oneandhalfunits: 24px;
      }
      .button {
        color: var(--dl-color-gray-black);
        display: inline-block;
        padding: 0.5rem 1rem;
        border-color: var(--dl-color-gray-black);
        border-width: 1px;
        border-radius: 4px;
        background-color: var(--dl-color-gray-white);
      }
      .input {
        color: var(--dl-color-gray-black);
        cursor: auto;
        padding: 0.5rem 1rem;
        border-color: var(--dl-color-gray-black);
        border-width: 1px;
        border-radius: 4px;
        background-color: var(--dl-color-gray-white);
      }
      .textarea {
        color: var(--dl-color-gray-black);
        cursor: auto;
        padding: 0.5rem;
        border-color: var(--dl-color-gray-black);
        border-width: 1px;
        border-radius: 4px;
        background-color: var(--dl-color-gray-white);
      }
      .list {
        width: 100%;
        margin: 1em 0px 1em 0px;
        display: block;
        padding: 0px 0px 0px 1.5rem;
        list-style-type: none;
        list-style-position: outside;
      }
      .list-item {
        display: list-item;
      }
      .teleport-show {
        display: flex !important;
        transform: none !important;
      }
      .Content {
        font-size: 16px;
        font-family: Inter;
        font-weight: 400;
        line-height: 1.15;
        text-transform: none;
        text-decoration: none;
      }
      .Heading {
        font-size: 32px;
        font-family: Inter;
        font-weight: 700;
        line-height: 1.15;
        text-transform: none;
        text-decoration: none;
      }

      .home-page-container {
  min-height: 100vh;
}
.home-page-home-page {
  width: 100%;
  height: 90vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(20, 44, 62, 1);
}
.home-page-group1 {
  top: 172px;
  left: 51px;
  width: 2025px;
  height: 614px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-page-rectangle1 {
  top: 410px;
  left: 641px;
  width: 297px;
  height: 75px;
  position: absolute;
}
.home-page-icons8co2emissions1 {
  top: 0px;
  left: 0px;
  width: 656px;
  height: 614px;
  position: absolute;
}
.home-page-icons8co2emissions2 {
  top: 0px;
  left: 1300px;
  width: 656px;
  height: 614px;
  position: absolute;
}
.home-page-text {
  top: 400px;
  left: 692px;
  color: rgb(255, 255, 255);
  width: 936px;
  height: auto;
  position: absolute;
  font-size: 80px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-page-text1 {
  top: 493px;
  left: 692px;
  color: rgba(255, 255, 255, 1);
  width: 761px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-page-text3 {
  top: 594px;
  left: 721px;
  color: rgba(255, 255, 255, 1);
  width: 508px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

      